body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

/* h1 {
    color: indigo;
    background-color: slategray;
    height: 60px;
} */

.hero {
    background-color: blueviolet;
    background-image: url(./images/dark_wrinkle.jpg);
    color: white;
    margin-bottom: 25px;
}